body {
    background-image: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.planet {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    color: white;
    margin: auto;
    text-align: center;
}

td, th {
    border: 1px solid white;
    padding: 8px;
    width: 100%;
    text-align: center;
}

h1, h2, p {
    color: white;
}
